# :no_entry: **Administrative Access Request Rejected**

Your request did not pass validation! Please check the following errors and fix
them by editing your original issue.

<!--prettier-ignore-start-->
<!--markdownlint-disable MD032-->

{{#each errors}}
- {{this}}
{{/each}}

<!--prettier-ignore-end-->
